body{
    background-image: url("../assets/bg.jpg");
    background-color: #cccccc;
    margin: 2rem 5rem 0rem 5rem;
    font-family: 'Outfit', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header h1
{
    text-align: center;
}
header p
{
    text-align: center;
}
header img
{
    height: 4rem;
    width: auto;
}
h1
{
    font-size: xx-large;
    font-weight: bolder;
}
main
{
    margin-top: 5%;
}
div
{
    text-align: center;
}
#Corretto
{
    display: inline-block;
}
#Corretto .TestoPiccolo
{
    font-size: small;
}
#Corretto h2
{
    font-size: xx-large;
    font-weight: 500;
}
#Corretto p
{
    font-size: xx-large;
    font-weight: bolder;
}
#Sbagliato
{ 
    display: inline-block;
}
#Sbagliato .TestoPiccolo
{
    font-size: small;
}
#Sbagliato h2
{
    font-size: xx-large;
    font-weight: 500;
}
#Sbagliato p
{
    font-size: xx-large;
    font-weight: bolder;
}
#Risultato
{
    display: inline-block;
    border: 1rem solid;
    border-radius: 100%;
    border-color: white;
    margin: 5%;
    padding: 3%;
}
#Esame2
{
    color: #00FFFF;
}
#Esame3
{
}
button
{
    background-color: transparent;
    border: 1px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    font-size: larger;
    font-weight: bolder;
}
#Risultati
{

}