body{
    background-image: url("../assets/bg.jpg");
    background-color: #cccccc;
    margin: 2rem 5rem 0rem 5rem;
    font-family: 'Outfit', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
/*header*/
header h1
{
    text-align: center;
    font-size: xx-large;
}
header p
{
    text-align: center;
    font-size: x-large;
}
header img
{
    height: 4rem;
    width: auto;
}
h1
{
    font-size: xx-large;
    font-weight: bolder;
}
/*main*/
div
{
    text-align: center;
}
/*div Corretto*/
#Corretto
{
    display: inline-block;
}
#Corretto .TestoPiccolo
{
    font-size: small;
}
#Corretto h2
{
    font-size: xx-large;
    font-weight: 500;
}
#Corretto p
{
    font-size: xx-large;
    font-weight: bolder;
}
/*div Sbagliato*/
#Sbagliato
{ 
    display: inline-block;
    opacity: 70%;
}
#Sbagliato .TestoPiccolo
{
    font-size: small;
}
#Sbagliato h2
{
    font-size: xx-large;
    font-weight: 500;
}
#Sbagliato p
{
    font-size: xx-large;
    font-weight: bolder;
}
/*div Risultato*/
#Risultato
{
    border-style: solid;
    display: inline-block;
    border: 1.5rem solid;
    border-radius: 100%;
    border-color: #C2128D #00FFFF;
    margin: 5%;
    padding: 3%;
}
/*Id Esame*/
#Esame2
{
    color: #00FFFF;
}
button
{
    background-color: transparent;
    border: 3px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    font-size: larger;
    font-weight: bolder;
    opacity: 70%;
}